

.center{
    text-align: center;
    padding: 0px 50px;
}


.button{
    background-color: #E00122; 
    border: none;
    color: white;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px 25px 25px 25px;
    margin: 25px;
}
*/
@media only screen and (min-width: 601px) {


    .button{
        background-color: #d33f3f; 
        border: none;
        color: white;
        padding: 4px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 25px;
        margin: 15px 0px 15px 0px;
    }
    
    .center{
        text-align: center;
    
    }

}

@media only screen and (max-width: 600px) {
    .center{
        text-align: center;
        padding: 0px 50px;
    }


    h1{
        font-size: medium;
        font-weight: 900;
        text-align: center;
    }
    h4{
        font-size: small;
        font-weight: 800;
        text-align: center;
    }

    .button{
        background-color: #E00122;
        text-align: center;
        text-decoration: none;
        border: none;
        padding: 4px 25px;
        color: white;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        border-radius: 25px;
    }

    table, thead, tbody, th, td, tr{
        display: block;
    
    }

}
