.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.card {
    display: inline;
    background: none;
}
 

.button{
    background: linear-gradient(to right top, #cd356b, #bd3f32);
  text-align: center;
  text-decoration: none;
  border: 1px solid;
  padding: 4px 25px;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 25px;
  width: 15%;
}

.buttonrow{
    background: linear-gradient(to right top, #cd356b, #bd3f32);
    border: 1px solid;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin: 20px 0px 20px 0px;
}

.center{
    text-align: center;

}

@media only screen and (max-width: 600px) {

    h1{
        font-size: medium;
        font-weight: 900;
    }
    h4{
        font-size: small;
        font-weight: 800;
    }


    .buttonrow{
        background: linear-gradient(to right top, #cd356b, #bd3f32);
        border: 1px solid;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 25px;
        margin: 20px 0px 20px 0px;
    }

    
}