<head>
  <script src="/src/app/home-page/qr-codes/qr_packed.js"></script>
  <script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js">

    const html5QrCode = new Html5Qrcode(/* element id */ "reader");

    // File based scanning
    const fileinput = document.getElementById('qr-input-file');
    fileinput.addEventListener('change', e => {
      if (e.target.files.length == 0) {
        // No file selected, ignore 
        return;
      }

      // Use the first item in the list
      const imageFile = e.target.files[0];
      html5QrCode.scanFile(imageFile, /* showImage= */true)
        .then(qrCodeMessage => {
          // success, use qrCodeMessage
          console.log(qrCodeMessage);
        })
        .catch(err => {
          // failure, handle it.
          console.log(`Error scanning file. Reason: ${err}`)
        });
    });
  </script>
</head>


<!-- <h4 class="center">CLICK TO OPEN CAMERA</h4>
<div class="center">
  <button class="button"><input type="file" accept="image/*" capture="environment"></button>

  <br>
  <button class="button" routerLink="/home">GO HOME</button>
</div> -->


<div id="container">
  <h1>Guided Workouts</h1>

    <div class="scrolling-wrapper">
        <div class="card"><button  class="buttonrow" (click)="tableRefresh(1)">Bench Press</button></div>
        <div class="card"><button  class="buttonrow" (click)="tableRefresh(2)">Squat</button></div>
        <div class="card"><button  class="buttonrow" (click)="tableRefresh(3)">Deadlift</button></div>
        <div class="card"><button  class="buttonrow" (click)="tableRefresh(4)">Bicep Curl</button></div>
        <div class="card"><button  class="buttonrow" (click)="tableRefresh(5)">Leg Press</button></div>
    </div>

  <script src="./src/qrCodeScanner.js"></script>
</div>

<hr>

<div *ngIf="gifID == 1">
  <p>div id = 1</p>
  <p>insert gif</p>
</div>
<div *ngIf="gifID == 2">
  <p>div id = 2</p>
  <p>insert gif</p>
</div>
<div *ngIf="gifID == 3">
  <p>div id = 3</p>
  <p>insert gif</p>
</div>
<div *ngIf="gifID == 4">
  <p>div id = 4</p>
  <p>insert gif</p>
</div>
<div *ngIf="gifID == 5">
  <p>div id = 5</p>
  <p>insert gif</p>
</div>



<script src="/src/app/home-page/qr-codes/qrCodeScanner.js"></script>