<h1 class="center">What are you doing today?</h1>
<h4 class="center"><span id="datetime"></span>, <span id="daytime"></span></h4>

<br>
<br>
<br>

<!-- <button routerLink="/dining">DINING HALLS</button>
<button routerLink="/qr">QR CODES</button>
<button routerLink="/workout">WORKOUTS</button> -->

<div  class="center" role="group" aria-label="...">
  <button type="button" class="button" routerLink="/dining">DINING HALLS</button>
 
  <button type="button" class="button" routerLink="/qr">QR CODES</button>
  
  <button type="button" class="button" routerLink="/workout">WORKOUTS</button>
</div>

<br>
<br>

<hr>
<button routerLink="/login">LOG OUT</button>
