.center{
    text-align: center;
    padding: 0px 20px;
}


.button{
    background: linear-gradient(to right top, #cd356b, #bd3f32);
        text-align: center;
        text-decoration: none;
        border: 1px solid;
        padding: 4px 25px;
        color: white;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        border-radius: 25px;
        width: 15%;
}


.padright{

    padding-right: 10px;
}

@media only screen and (max-width: 600px) {

    div{
        padding: 100px;
    }

    h1{
        font-size: medium;
        font-weight: 900;
    }
    h4{
        font-size: small;
        font-weight: 800;
    }

    .button{
        background-color: #e00122;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        width: auto;
        height: auto;
    }
    

}