.center{
    text-align: center;
    padding: 0px 20px;
}


.button{
    background-color: #E00122; 
    border: none;
    color: white;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin: 15px 0px 15px 0px;
}


.padright{

    padding-right: 10px;
}

@media only screen and (max-width: 600px) {

    div{
        padding: 100px;
    }

    h1{
        font-size: medium;
        font-weight: 900;
    }
    h4{
        font-size: small;
        font-weight: 800;
    }

    .button{
        background-color: #e00122;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        width: auto;
        height: auto;
    }
    

}