<!-- INITIAL LOCK SCREEN -->
<div class="center" *ngIf="loginValid == false">
    <h1><b>Welcome to UC Fit</b></h1>
    <h4>Please login using your 6+2</h4>

    <hr>

    <input type="text" id="login" name="login" placeholder="login" >
    <input type="text" id="password" name="login" placeholder="password" >
    <button type="submit" value="Log In" class="button" (click)="authLogin()">Login</button>
    
    <hr>

    <button class="button">Register Now</button>
</div>

<div *ngIf="loginValid == true" class="centered">
    <app-home-page></app-home-page>
</div>
  <!-- IF PASSED, GOES TO HOMEPAGE   -->
  