.button{
    background-color: #4CAF50; /* Red #E00122*/
    border: none;
    color: white;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.center{
    text-align: center;

}

